<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	  

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>	
  
 

    <!--[變數] 檔案位置 -->
    <variable name="LogTxtDir" value="${basedir}/.Logs/${date:format=yyyyMMdd}/"/>
    <variable name="LogTxtLocation" value="${LogTxtDir}/[${level}]${date:format=HH}.${event-properties:ProviderMatchId}.log"/>
	<variable name="LogExLocation" value="${LogTxtDir}/[${level}]${date:format=HH}.${event-properties:ProviderMatchId}.Fatal.log"/>

  <variable name="Matcheslayout" value="[${date:format=HH\:mm\:ss.fffff}]|
  [${level}]|
  ${event-properties:item=sequence}|
  ${event-properties:item=code}|
  ${event-properties:item=classname}|
  ${message} |
  ${exception:format=tostring}"/>
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
<targets async="true">

        <target name="EventFile" xsi:type="File" fileName="${LogTxtLocation}" layout="${Matcheslayout}" encoding="utf-8"/>
	    <target name="FatalFile" xsi:type="File" fileName="${LogExLocation}" layout="${Matcheslayout}" encoding="utf-8"/>
		
		<target xsi:type="Console" name="logconsole"    layout="${Matcheslayout}" />		
		
    </targets>
 

    <rules>
        <logger name="MatchesLog" levels="Trace,Error,Debug,Info,Warn" writeTo="EventFile" />
        <logger name="*" levels="Fatal" writeTo="FatalFile" />
    </rules>
</nlog>
